<!DOCTYPE html>
<head>
    <title>Lauva games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="shortcut icon" href="/images/L_favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/LL_login_page.css" type="text/css" class="css">
    <link rel="stylesheet" href="css/LL_registration_page.css" type="text/css" media="screen"/>

    <style>
        span.reference{
            position:fixed;
            left:5px;
            top:5px;
            font-size:10px;
            text-shadow:1px 1px 1px #fff;
        }
        span.reference a{
            color:#555;
            text-decoration:none;
            text-transform:uppercase;
        }
        span.reference a:hover{
            color:#000;

        }
        h1{
            color:#ccc;
            font-size:36px;
            text-shadow:1px 1px 1px #fff;
            padding:20px;
        }
    </style>
</head>
<body>