<div class="LL_overlay"></div>
<div class="cont">
    <div id="content" style="z-index:8">
        <div id="wrapper" >
            <div id="steps">
                <form id="formElem" name="formElem" action="/" method="post">
                    <fieldset class="step">
                        <legend>Новый пароль</legend>
                        <p>
                            <label for="LL_new_password">Введите новый пароль</label>
                            <input id="LL_new_password" name="LL_new_password" />

                            <% if (messages.info) { %>
                                <input id="LL_user_id" type="hidden" value="<%= messages.info %>"/>
                            <% } %>

                        </p>
                        <p class="submit">
                            <button id="LL_save_new_password" type="submit">Отправить</button>
                            <!--<%= messages.info %>-->
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>