<div class="LL_overlay"></div>
<div class="cont">
    <div id="content" style="z-index:8">
        <div id="wrapper" >
            <div id="steps">
                <form id="formElem" name="formElem" action="/" method="post">
                    <fieldset class="step">
                        <legend>Восстановление пароля</legend>
                        <p>
                            <label for="LL_email">Введите email</label>
                            <input id="LL_email" name="LL_email" />
                        </p>
                        <p class="submit">
                            <button id="LL_send_email" type="submit">Отправить</button>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>