$form-bg: #13232f;
$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);
$white: #ffffff;
$body-background: #f3f3f5;
$body-background-light: #d2dddf;
$gray-light: #a0b3b0;
$fon: #f5f8f8;

body {
  height: 100%;
}
#LL_body{
  background-image: url("../images/bg.png");
  margin:0;
  padding:0;
  max-width: 100vw;
  min-width: 400px;
  height: 100%;
  font-size: 13px;
}
#LL_header {
  background-color: #142030;
  max-width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  color: #7f8c9d;
}
#LL_logo{
  margin: 5px;
  margin-left: 15px;
  width: 50px;
  height: 50px;
}
#LL_userInform {
  display: none;
  margin: 5px 25px 5px auto;
  height: 50px;
  width: 130px;
  font-size: 17px;
  &:hover {
    background: rgba(30, 52, 72, 0.8);
    color: white;
    cursor: pointer;
  }
}
#LL_userFoto {
  margin: 0 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  color: $main;
  border: 1px solid $main;
  font-size: 40px;
  text-align: center;
}
#LL_topNav {
  margin-top: 20px;
  width: 130px;
  padding-left: 5px;
  background: rgba(30, 52, 72, 0.8);
  display: block;
  display: none;
  list-style: none;
  line-height: 30px;
  > li {
    display: block;
    &:hover {
      background: rgb(30, 52, 72);
      color: white;
      cursor: pointer;
    }
  }
  > li a {
    color: white;
    text-decoration: none;
  }
}

#LL_textLogo {
  width: 15vh;
}

#LL_navigation {
  margin-top: 100px;
}
.LL_navContainer{
  //position: fixed;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  background-color: #182838;
  color: #1ab188;
  text-align: center;
}

#LL_content {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.png");
  color: #44494f;
  font-family: 'Tahoma', "Geneva CY", sans-serif;
}
.LL_logoLink {
  display: flex;
  align-items: center;
  &:hover, &:focus {
    text-decoration: none;
  }
}


#LL_contentDiv {
  width: 80%;
  min-width: 1000px;
  margin: 0 auto;
}
#LL_left {
  margin-top: 20px;
  width: 40%;
  min-width: 400px;
  float: left;
}
#LL_right {
  margin-top: 20px;
  width: 60%;
  height: 100%;
  min-width: 600px;
  float: left;
}
#LL_federInfo {
  width: 100%;
  min-width: 390px;
  margin: 0 auto;
  min-height: 200px;
}
#LL_federLogoCont {
  width: 33%;
  min-width: 130px;
  float: left;
  text-align: center;
}
#wrapLogo {
  width: 100%;
}
#LL_federLogo{
  width: 120px;
  height: 120px;
  background-color: #c1bdba;
  margin: 0 auto;
  border: 2px solid $main;
  border-radius: 50%;
  text-align: center;
  font-size: 80px;
}
#LL_federInfoCont {
  width: 66%;
  float: left;
}

.LL_federCount {
  width: 33%;
  min-width: 43px;
  float: left;
  text-align: center;
  font-weight: 600;
}
#fon {
  z-index: -1;
  width: 100%;
  height: 180px;
  padding-top: 25px;
  > div {
    background-color: $body-background;
    width: 100%;
    height: 100%;
    box-shadow:0 2px 5px 2px rgba($form-bg,.3);
  }
}
.LL_count {
  font-size: 17px;
  color: $main;
}
.LL_caption {
  font-size: 17px;
  font-weight: 600;
  color: $form-bg;
}
input, textarea, select {
  font-size: 17px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:$form-bg;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  font-weight: 600;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
    outline:0;
    border-color:$main;
  }
}
option {
  background-color: $form-bg;
}
.button-fed {
  border:0;
  outline:none;
  border-radius:0;
  padding:5px 3px;
  width: 155px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size:1.5rem;
  box-shadow: 0px 0px 3px 0px black;
  font-weight: 600;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}
.button-little {
  border:0;
  outline:none;
  border-radius:0;
  padding:3px 2px;
  width: 85px;
  margin-left: 80px;
  margin-bottom: 10px;
  font-size:1.2rem;
  font-weight: 600;
  background:$main;
  box-shadow: 0px 0px 3px 0px black;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}
#LL_progressBar {
  width: 100%;
  min-width: 390px;
}
.LL_federationFolowers{
  width: 100%;
  min-width: 400px;
  margin: 20px 0;
  min-height: 150px;
}
.LL_federationFolower {
  width: 47.5%;
  min-width: 190px;
  background-color: white;//$fon;
  border: 1px solid black;
  border-radius: 10px;
  float: left;
  margin: 5px;
  padding: 5px;
}
.LL_folowerPhotoCont {
  width: 40%;
}
.LL_folowerPhoto {
  width: 70px;
  height: 70px;
  margin: 5px auto;
  float: left;
  font-size: 40px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
}
.LL_folowerName {
  padding-left: 80px;
  font-weight: 600;
}
.LL_folowerCount {
  padding-left: 80px;
  font-weight: 500;
}
#LL_stem {
  width: 10px;
  margin-left: 20px;
  background-color: $body-background-light;
  height: 100%;
  min-height: 500px;
  float: left;
}
.LL_firstCircle {
  position: relative;
  z-index: 1;
  margin-left: -5px;
  margin-top: 115px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $gray-light;
  background-color: $body-background-light;
}
.LL_secondCircle {
  margin: 0 auto;
  margin-top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #328194;
}
#LL_federEvents {
  width: calc(100% - 30px);
  min-width: 400px;
  float: left;
}
.LL_branchShort {
  width: 200px;
  background-color: $body-background-light;
  height: 10px;
  position: absolute;
  top: 200px;
}
.LL_branchLong {
  width: 400px;
  background-color: $body-background-light;
  height: 10px;
  position: absolute;
  top: 400px;
}
.LL_federationEventCont {
  position: absolute;
  top:140px;
  width: 170px;
  height: 180px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.LL_onShortBranch {
  margin-left: 200px;
}
.LL_onLongBranch {
  margin-left: 400px;
}
.LL_federationEvent {
  width: 140px;
  height: 130px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: inset 1px 1px 7px 0px $form-bg;
}
.LL_mark {
  color: #d2dddf;
  font-size: 22px;
  margin-left: 5px;
  float: left;
  &:hover {
    cursor: pointer;
    color: $form-bg;
  }
}
.LL_mark2 {
  float: left;
  margin-left: 5px;
  font-size: 17px;
  color: #328194;
  font-weight: 600;
}
.LL_eventDesc {
  display: none;
}
#LL_seeMore {
  position: absolute;
  top: 930px;
  margin-left: 300px;
  color: $form-bg;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}



@media screen and (max-width: 1000px) {
  #LL_contentDiv {
    width: 100%;
    min-width: 400px;
  }
  #LL_left {
    width: 100%;
    min-width: 400px;
  }
  #LL_right {
    width: 100%;
    min-width: 400px;
    margin-top: 0;
  }
  #LL_stem, .LL_branchShort, .LL_branchLong {
    display: none;
  }
  .LL_federationEventCont {
    position: static;
    width: 80%;
    min-width: 320px;
  }
  .LL_federationEvent{
    margin: 10px 10px;
  }
  #LL_seeMore {
    position: static;
    width: 100px;
    margin: 15px auto;
    color: $form-bg;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
  }
  .LL_onShortBranch, .LL_onLongBranch {
    margin: 20px auto 0;
  }
  .LL_eventDesc {
    display: block;
    width: calc(100% - 180px);
    min-width: 160px;
    float: left;
  }
}
@media screen and (max-width: 570px) {
  .LL_onShortBranch, .LL_onLongBranch {
    margin: 20px 10px 0;
  }
}


//// tournament branch styles
.label {
  font-size: 14px;
}