<!DOCTYPE html>
<head>
    <title>Lauva games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Описание страницы">

    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.css" type="text/css">
    <link rel="shortcut icon" href="../images/L_favicon.png" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/LL_main.css" type="text/css" class="css">
    <link rel="stylesheet" href="/css/LL_content.css" type="text/css" class="css">
    <script src="js/lib/jssor.slider-23.1.6.min.js" type="text/javascript"></script>
</head>
<body id="LL_body">
