<!DOCTYPE html>
<head>
    <title>Lauva games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.css" type="text/css">
    <meta name="description" content="Описание страницы">
    <link rel="shortcut icon" href="/images/L_favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">

    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/lib/tapmodo-Jcrop-1902fbc/css/jquery.Jcrop.min.css">

    <link rel="stylesheet" href="/lib/kendo/styles/kendo.common.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/kendo/styles/kendo.default.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/kendo/styles/kendo.default.mobile.min.css" type="text/css">

    <link rel="stylesheet" href="/css/LL_main.css" type="text/css" class="css">


</head>
<body id="LL_body">
