<!DOCTYPE html>
<head>
    <title>Lauva games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Описание страницы">

    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.css" type="text/css">
    <link rel="shortcut icon" href="/images/L_favicon.png" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">

    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib//jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="/lib/tapmodo-Jcrop-1902fbc/css/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="/lib/jquery-bracket-master/dist/jquery.bracket.min.css">

    <link rel="stylesheet" href="/css/progressbar.css" type="text/css">
    <link rel="stylesheet" href="/css/LL_main.css" type="text/css" class="css">
    <link rel="stylesheet" href="/css/LL_federation2.css" type="text/css">
<!--
    <style>
        ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
        li { margin: 5px; padding: 5px; width: 150px; }
        .teams {
            position: absolute;
            height: 34px;
            width:150px;
            margin-left: 20px;
        }
        .score {
            position: absolute;
            margin-left: 120px;
            width: 120px;
            height: 24px;
            font-size: 13px;
            padding:3px 5px;
            font-weight: 500;
            text-align: center;
        }
    </style> -->
</head>
<body id="LL_body">
