<!DOCTYPE html>
<head>
    <title>Lauva games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Описание страницы">

    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.css" type="text/css">
    <link rel="shortcut icon" href="/images/L_favicon.png" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">

    <link rel="stylesheet" href="/lib/bootstrap-master/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/lib/tapmodo-Jcrop-1902fbc/css/jquery.Jcrop.min.css">

    <link rel="stylesheet" href="/css/progressbar.css" type="text/css">
    <link rel="stylesheet" href="/css/LL_main.css" type="text/css" class="css">
    <link rel="stylesheet" href="/css/LL_federation2.css" type="text/css">


</head>
<body id="LL_body">
