<div class="form" style="min-width: 450px">
    <div class="tab-content">
        <div id="login">
            <h1>Смена пароля</h1>
            <form id="LL_newPasswordForm" action="/" method="post">
                <div class="field-wrap">
                    <label>
                        Введите новый пароль<span class="req">*</span>
                    </label>
                    <input type="password" id="LL_newpassword" name="LL_newpassword">
                </div>
                <div class="field-wrap">
                    <label>
                        Повторите пароль<span class="req">*</span>
                    </label>
                    <input type="password" id="LL_newpassword2" name="LL_newpassword2">
                </div>
                <button id="LL_updatePasswordButton" class="button button-block"/>Сохранить</button>
            </form>
        </div>
        <div></div>
    </div><!-- tab-content -->
</div> <!-- /form -->