<div class="form" style="min-width: 450px">
    <div class="tab-content">
        <div id="login">
            <h1>Заполните форму</h1>
            <form id="LL_forgotForm" action="/" method="post">
                <div class="field-wrap">
                    <label>
                        Email<span class="req">*</span>
                    </label>
                    <input id="LL_emailForRestoration" name="LL_emailForRestoration">
                </div>
                <button id="LL_forgotButton" class="button button-block"/>Отправить</button>
            </form>
        </div>
        <div></div>
    </div><!-- tab-content -->
</div> <!-- /form -->