<div class="LL_navContainer ">
    <i class="fa fa-sign-in" aria-hidden="true" style=" font-size:32px;"></i>
</div>
<div class="LL_navContainer">
    <i class="fa fa-question" aria-hidden="true"  style=" font-size:32px;"></i>
</div>