<div class="form">



    <div class="tab-content">
        <div id="login">
            <h1>Помощь пользователям</h1>

            <form id="LL_supportForm" action="/" method="post">

                <div class="field-wrap">
                    <label>
                        Email<span class="req">*</span>
                    </label>
                    <input id="LL_email" name="LL_email">
                </div>
                <div class="field-wrap">
                    <label>
                        Телефон<span class="req">*</span>
                    </label>
                    <input id="LL_phone" name="LL_phone">
                </div>
                <div class="field-wrap">
                    <label>
                        Тема сообщения<span class="req">*</span>
                    </label>
                    <input id="LL_subject" name="LL_subject">
                </div>
                <div class="field-wrap">
                    <label>
                        Текст сообщения<span class="req">*</span>
                    </label>
                    <textarea id="LL_message" type="password" rows='5' name="LL_message"></textarea>
                </div>

                <button id="LL_loginButton" class="button button-block"/>Отправить</button>

            </form>

        </div>

        <div></div>

    </div><!-- tab-content -->

</div> <!-- /form -->