<div id="LL_contentDiv">
    <div id="LL_left">
        <div id="LL_federInfo">
            <div id="LL_federLogoCont">
                <div id="wrapLogo" data-toggle="modal" data-target="#myModal">
                    <div id="LL_federLogo">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <input id='photo_adress' type="text" style="display: none" >
                </div>
                <p> Sport type </p>
            </div>
            <div id="LL_federInfoCont">
                <div style="width: 100%">
                    <div class="LL_federCount">
                        <p> Подписчики </p>
                        <p class="LL_count"> 2510 </p>
                    </div>
                    <div class="LL_federCount">
                        <p> Турниры </p>
                        <p class="LL_count"> 22 </p>
                    </div>
                    <div class="LL_federCount">
                        <p> Новости </p>
                        <p class="LL_count"> 30 </p>
                    </div>
                </div>
                <div style="width: 100%">
                    <p class="LL_caption" style="margin-left: 10px"> Team name </p>
                </div>
                <div style="width: 100%">
                    <button type="button" class="button-fed">Заявка</button>
                </div>
                <div style="width: 100%">
                    <p style="margin-left: 10px"> Country, city </p>
                </div>
            </div>
            <div id="fon">
                <div></div>
            </div>
        </div>

        <div style="width: 100%">
            <div style="margin: 10px auto; width:90%; border:1px solid lightgrey; box-shadow:1px 1px 1px 1px darkgrey"></div>
        </div>

        <div class="LL_federationFolowers"  style="min-height: 175px">
            <div style="width:90%; margin: 0 auto">
                <div class='LL_caption'>Капитан</div>
            </div>
            <div style="width: 100%">
                <div class="LL_federationFolower">
                    <div>
                        <div class="LL_folowerPhoto"><i class="fa fa-user" aria-hidden="true"></i></div>
                    </div>
                    <div>
                        <p class="LL_folowerName">Имя Пользователя</p>
                        <p class="LL_folowerCount"> 122 Подписчиков</p>
                        <p class="LL_folowerCount"> 132 Подписан</p>
                        <button type="button" class="button-little">Подписаться</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%">
            <div style="margin: 10px auto; width:90%; border:1px solid lightgrey; box-shadow:1px 1px 1px 1px darkgrey"></div>
        </div>
        <div class="LL_federationFolowers">
            <div style="width:90%; margin: 0 auto">
                <div class='LL_caption' style="float: left">Команда</div>
                <div><button type="button" class="button-fed">Все участники</button></div>
            </div>
            <div style="width: 100%">
                <div class="LL_federationFolower">
                    <div class="LL_folowerPhotoCont">
                        <div class="LL_folowerPhoto"><i class="fa fa-user" aria-hidden="true"></i></div>
                    </div>
                    <div>
                        <p class="LL_folowerName">Имя Пользователя</p>
                        <p class="LL_folowerCount"> 122 Подписчиков</p>
                        <p class="LL_folowerCount"> 132 Подписан</p>
                        <button type="button" class="button-little">Подписаться</button>
                    </div>
                </div>
                <div class="LL_federationFolower">
                    <div>
                        <div class="LL_folowerPhoto"><i class="fa fa-user" aria-hidden="true"></i></div>
                    </div>
                    <div>
                        <p class="LL_folowerName">Имя Пользователя</p>
                        <p class="LL_folowerCount"> 122 Подписчиков</p>
                        <p class="LL_folowerCount"> 132 Подписан</p>
                        <button type="button" class="button-little">Подписаться</button>
                    </div>
                </div>
                <div class="LL_federationFolower">
                    <div>
                        <div class="LL_folowerPhoto"><i class="fa fa-user" aria-hidden="true"></i></div>
                    </div>
                    <div>
                        <p class="LL_folowerName">Имя Пользователя</p>
                        <p class="LL_folowerCount"> 122 Подписчиков</p>
                        <p class="LL_folowerCount"> 132 Подписан</p>
                        <button type="button" class="button-little">Подписаться</button>
                    </div>
                </div>
                <div class="LL_federationFolower">
                    <div>
                        <div class="LL_folowerPhoto"><i class="fa fa-user" aria-hidden="true"></i></div>
                    </div>
                    <div>
                        <p class="LL_folowerName">Имя Пользователя</p>
                        <p class="LL_folowerCount"> 122 Подписчиков</p>
                        <p class="LL_folowerCount"> 132 Подписан</p>
                        <button type="button" class="button-little">Подписаться</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="LL_right">
        <div id="LL_stem">
            <div class="LL_firstCircle">
                <div class="LL_secondCircle"></div>
            </div>
            <div class="LL_firstCircle" style="margin-top: 180px">
                <div class="LL_secondCircle"></div>
            </div>
            <div class="LL_firstCircle" style="margin-top: 180px">
                <div class="LL_secondCircle"></div>
            </div>
            <div class="LL_firstCircle" style="margin-top: 180px">
                <div class="LL_secondCircle"></div>
            </div>
        </div>
        <div id="LL_federEvents">
            <div id="LL_federEventsTop" style="min-width: 550px; min-height: 45px">
                <p class="LL_caption" style="width:150px; margin:10px auto"> Наши турниры </p>
            </div>

            <div id="LL_wrapBranch">
                <div class="LL_branchShort"></div>
                <div class="LL_branchLong"></div>
                <div class="LL_branchShort" style="top: 600px"></div>
                <div id="lastBranch" class="LL_branchLong" style="top: 800px"></div>
            </div>

            <div id="LL_wrapContent" style="width: 100%">
                <div class="LL_federationEventCont LL_onShortBranch">
                    <div style="float: left">
                        <div class="LL_federationEvent">

                        </div>
                        <div style="float: left">
                            <i class="fa fa-heart LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-comment LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-share-alt LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                    </div>
                    <div class="LL_eventDesc">
                        <p> Description </p>
                    </div>
                </div>
                <div class="LL_federationEventCont LL_onLongBranch" style="top: 340px">
                    <div style="float: left">
                        <div class="LL_federationEvent">

                        </div>
                        <div style="float: left">
                            <i class="fa fa-heart LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-comment LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-share-alt LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                    </div>
                    <div class="LL_eventDesc">
                        <p> Description </p>
                    </div>
                </div>
                <div class="LL_federationEventCont LL_onShortBranch" style="top: 540px">
                    <div style="float: left">
                        <div class="LL_federationEvent">

                        </div>
                        <div style="float: left">
                            <i class="fa fa-heart LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-comment LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-share-alt LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                    </div>
                    <div class="LL_eventDesc">
                        <p> Description </p>
                    </div>
                </div>
                <div id="last" class="LL_federationEventCont LL_onLongBranch" style="top: 740px">
                    <div style="float: left">
                        <div class="LL_federationEvent">

                        </div>
                        <div style="float: left">
                            <i class="fa fa-heart LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-comment LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-share-alt LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                    </div>
                    <div class="LL_eventDesc">
                        <p> Description </p>
                    </div>
                </div>
                <div id="LL_seeMore">
                    Посмотреть ещё
                </div>
            </div>


        </div>
    </div>


    <!-- Modal window for federation's photo-->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Логотип команды</h4>
                </div>

                <div class="modal-body">
                    <label for="LL_TeamLogoToCrop" id="LL_testLabel" style="pointer-events: auto">
                        <div id="LL_choosePhoto"> <p>Кликните, чтобы загрузить фото с вашего компьютера </p></div>
                    </label>
                    <input type="file" id="LL_TeamLogoToCrop" style="display: none;">
                </div>

                <div class="modal-footer">
                    <label for="LL_TeamLogoToCrop2" id="LL_testLabel2" style="transform: none; left: 230px; text-align: center; display: none">
                        <div type="button" class="button-fed">Другое фото</div>
                    </label>
                    <input type="file" id="LL_TeamLogoToCrop2" style="display: none;">
                    <button id="LL_buttonForSaveLogo" type="button-fed" class="button-fed" data-dismiss="modal">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <input type="text" style="display: none" id="x1" name="x1">
    <input type="text" style="display: none" id="y1" name="y1">
    <input type="text" style="display: none" id="width1" name="width1">
    <input type="text" style="display: none" id="height1" name="height1">
    <input type="text" style="display: none" id="image1" name="image1">
    <input type="text" style="display: none" id="image2" name="image2">

</div>